# Log
DEBUG=true

# App
NODE_ENV=development
PORT=3000

# Snap Development
SNAP_BASE_URL_DEV=
SNAP_MERCHANT_KEY_DEV=

# Snap Production
SNAP_BASE_URL_PROD=
SNAP_MERCHANT_KEY_PROD=

# Checkoutpage Development
CHECKOUT_BASE_URL_DEV=
CHECKOUT_CLIENT_KEY_DEV=
CHECKOUT_SECRET_KEY_DEV=

# Checkoutpage Production
CHECKOUT_BASE_URL_PROD=
CHECKOUT_CLIENT_KEY_PROD=
CHECKOUT_SECRET_KEY_PROD=
