# Log
DEBUG=true

# App
NODE_ENV=development
PORT=3000

# IP Whitelist (Optional)
# Set ENABLE_IP_WHITELIST=true untuk mengaktifkan proteksi IP whitelist.
# ALLOWED_IPS adalah daftar IP yang diizinkan dipisahkan koma.
ENABLE_IP_WHITELIST=false
ALLOWED_IPS=127.0.0.1,::1,103.28.12.99

# =============================================================
# SNAP API
# =============================================================

# Development (internal staging)
SNAP_BASE_URL_DEV=
SNAP_MERCHANT_KEY_DEV=

# Sandbox (Winpay Sandbox)
SNAP_BASE_URL_SANDBOX=https://sandbox-snap.winpay.id

# Production
SNAP_BASE_URL_PROD=https://snap.winpay.id
SNAP_MERCHANT_KEY_PROD=

# =============================================================
# CHECKOUT PAGE API
# =============================================================

# Development (internal staging)
CHECKOUT_BASE_URL_DEV=
CHECKOUT_CLIENT_KEY_DEV=
CHECKOUT_SECRET_KEY_DEV=

# Sandbox (Winpay Sandbox)
CHECKOUT_BASE_URL_SANDBOX=https://sandbox-checkout.winpay.id
CHECKOUT_CLIENT_KEY_SANDBOX=
CHECKOUT_SECRET_KEY_SANDBOX=

# Production
CHECKOUT_BASE_URL_PROD=https://checkout.winpay.id
CHECKOUT_CLIENT_KEY_PROD=
CHECKOUT_SECRET_KEY_PROD=
